#hero{
background-image: url("../components/image/pexels-olly-994197.jpg");
height: 100%;
width: 100%;
background-position:top 35% right 0px;
background-size: cover;
background-repeat: no-repeat;
display: flex;
padding: 100px;
flex-direction: column;
align-items: flex-start;
justify-items: center;
}

#hero h4{
padding-bottom: 15px;



}
#hero h1{

color: rgb(8, 161, 62);


}
#hero button {
    background: linear-gradient(135deg, #000000, #c5bfbb);
    border: none;
    border-radius: 50px;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    overflow: hidden;
  }
  
  #hero button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
  }
  
  #hero button:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  #hero button:hover::before {
    opacity: 1;
  }
  
  #hero button:active {
    transform: scale(0.95);
  }
  
  #hero button span {
    position: relative;
    z-index: 2;
  }